<!DOCTYPE html>
<html>
<head><meta charset="utf-8"> <title>셀렉터 만들기</title> <style>
h3, li { /* 태그 이름 셀렉터 */
color : brown; }
div > div > strong { /* 자식 셀렉터 */
background : yellow; }
ul strong { /* 자손 셀렉터 */
color : dodgerblue; }
.warning { /* class 셀렉터 */
color : red; }
body.main { /* class 셀렉터 */
background : aliceblue; }
#list { /* id 셀렉터 */
background : mistyrose; }
 li:hover { background : yellowgreen; }
#list span{ /* 자손 셀렉터 */
color : forestgreen; }
h3:first-letter { /* 가상 클래스 셀렉터 */
color : red; }
    </style></head>
<body class="main"> <h3>Web Programming</h3> <hr>
<div>
    <div>2학기 <strong>학습 내용</strong>입니다.</div> <ul id="list">
    <li><span>HTML5</span></li> <li><strong>CSS</strong></li> <li>JAVASCRIPT</li>



</ul>
    <div class="warning">60점 이하는 F</div> </div>
</body> </html>